body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(22, 6, 34);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.258);
}

h4 {
  margin: 0;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 2rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.258);
}

ul {
  background-color: rgba(255, 255, 255, 0.802);
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  color: black;
  border-radius: 0.5rem;
}

li {
  list-style-type: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.1rem;
  border: 0;
  outline: none;
  background-color: rgb(255, 107, 107);
  color: white;
  border-radius: 4px;
  align-self: center;
}

button:active {
  background-color: rgb(224, 47, 47);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

.js-toDoForm {
  display: block;
  width: 100%;
  padding-bottom: 3rem;
}

.js-toDoForm > input {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  outline: none;
}

.weather {
  font-size: 1rem;
  margin-top: 1rem;
}

/*---------*/

.form,
.gretting {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
